<%= form_with model: [@article,@comment], local: true do |f| %>
    <p>
      <% if @comment.errors.any? %>
        <ul>
          <% @comment.errors.full_messages.each do |messages| %>
              <li><%= messages %></li>
          <% end %>
        </ul>

      <% end %>
    </p>

    <p>
      <%= f.label :content %><br/>
      <%= f.text_field :content %>
    </p>
    <p>
      <%= f.submit class: "btn btn-primary" %>
    </p>
<% end %>